- if actions.index(:new)
  - if EffectiveResources.authorized?(controller, :new, effective_resource.klass)
    - name = effective_resource.human_name.titleize
    = link_to "New #{name}", effective_resource.action_path(:new), title: "New #{name}", class: 'btn btn-primary'

- if actions.index(:edit)
  - if EffectiveResources.authorized?(controller, :edit, resource)
    = link_to 'Edit', effective_resource.action_path(:edit, resource), title: "Edit #{resource}", class: 'btn btn-secondary'

- if actions.index(:show)
  - if EffectiveResources.authorized?(controller, :show, resource)
    = link_to 'View', effective_resource.action_path(:show, resource), title: resource.to_s, class: 'btn btn-secondary'

- (actions - effective_resource.crud_actions).each do |action|
  - if effective_resource.member_post_actions.include?(action)
    - if EffectiveResources.authorized?(controller, action, resource)
      = link_to action.to_s.titleize, effective_resource.action_path(action, resource), class: 'btn btn-secondary',
        title: "#{action} #{resource}", data: { method: :post, confirm: "#{action.to_s.titleize} #{resource}?"}

  - elsif effective_resource.member_get_actions.include?(action)
    - if EffectiveResources.authorized?(controller, action, resource)
      = link_to action.to_s.titleize, effective_resource.action_path(action, resource), class: 'btn btn-secondary',
        title: "#{action.to_s.titleize} #{resource}"
  - else
    - if EffectiveResources.authorized?(controller, action, effective_resource.klass)
      = link_to action.to_s.titleize, effective_resource.action_path(action), class: 'btn btn-secondary',
        title: action.to_s.titleize

= yield if block_given?

- if actions.index(:destroy)
  - if EffectiveResources.authorized?(controller, :destroy, resource)
    = link_to 'Delete', effective_resource.action_path(:destroy, resource), class: 'btn btn-danger',
      title: "Delete #{resource}", data: { method: :delete, confirm: "Delete #{resource}?" }
