= form.hidden_field :email_form_action, value: email_action

- if email_skip
  = form.check_box :email_form_skip, label: 'Do not send email'

= form.hide_if :email_form_skip, true do
  - if email_to.present?
    = form.static_field :email_form_to, label: 'To', value: (email_to.try(:email) || email_to)

  = form.select :email_form_from, EffectiveResources.mailer_froms, label: 'From'
  = form.text_field :email_form_subject, label: 'Subject'
  = form.text_area :email_form_body, label: 'Body', rows: 10

  - if email_variables.present?
    %p The available variables are:

    %ul
      - email_variables.each do |variable|
        %li {{ #{variable} }}

    %small.text-muted Please contact us to add additional variables
